<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Spire.PDFViewer" version="7.11.0" targetFramework="net452" />
  <package id="Spire.PDFViewer.WPF" version="7.11.0" targetFramework="net452" />
  <package id="Syncfusion.Compression.Base" version="22.1.37" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="22.1.37" targetFramework="net452" />
  <package id="Syncfusion.Pdf.Wpf" version="22.1.37" targetFramework="net452" />
  <package id="Syncfusion.PdfViewer.WPF" version="22.1.37" targetFramework="net452" />
  <package id="Syncfusion.Shared.WPF" version="22.1.37" targetFramework="net452" />
</packages>